{%load static %}
<head>
<title>login page</title>
<link href="{% static 'users/css/bootstrap.min.css' %}" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'users/css/bootstrap-icons.css' %}">
  <style>
    .contain{
        margin:5% 25%;
        width:50%;
    }
  </style>
</head>
{% block body %}

<!-- <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Admin Login</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body"> -->
            <div class="container contain">
            <form action="" method="POST">{% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">User Name</label>
                    <input type="text" class="form-control"id="username" name="username" 
                        aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your details with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Sign In</button>
            </form>

            <hr class="my-4">
            <small class="text-body-secondary">By clicking Sign In, you agree to the terms of use.</small>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'userregister' %}" >New
                around here? Sign up</a>
            <a class="dropdown-item" href="#">Forgot password?</a>
        </div>
        <!-- </div>
    </div>

</div>
</div> -->
{% endblock %}